
*{
    margin: 0;
    padding: 0;
   
}

.header {
    
    padding: 5px;

    text-align: center;
    color: white;
            display:block;
            position: relative;
            z-index: 3
  }

@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-webkit-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-moz-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-ms-keyframes move-clouds-back {
    from {background-position: 0;}
    to {background-position:10000px 0;}
}

.stars, .twinkling {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
}

.stars {
  background:#000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  z-index:0;
 
 
}

.twinkling{
  background:transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
  z-index:1;
  

  -moz-animation:move-twink-back 200s linear infinite;
  -ms-animation:move-twink-back 200s linear infinite;
  -o-animation:move-twink-back 200s linear infinite;
  -webkit-animation:move-twink-back 200s linear infinite;
  animation:move-twink-back 200s linear infinite;
}

        #mytext{

            color: rgb(255, 255, 255);
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
           margin-top: 50;

            text-align: center;
            display:block;
            position: relative;
            z-index: 3
        }


        #learn{
        color: rgb(3, 161, 189);
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
       margin-top: 50;
      
       font-size: 20px;

        text-align: center;
        display:block;
        position: relative;
        z-index: 3
    }

    #score{
      color: rgb(252, 252, 252);
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     margin-top: 10px;
    
     font-size: 20px;

      text-align: center;
      display:block;
      position: relative;
      z-index: 3
  }





    a:link{
      text-decoration: none;
    }






        p ,h1   {color: rgb(255, 255, 255);
            text-align: center;  
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;     
        }


        #draw{
            color: rgb(255, 255, 255);
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
           margin-top: 10px;
        

            text-align: center;
            display:block;
            position: relative;
            z-index: 3

        }


canvas{

    padding: 0;
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
}    


input{
 
    z-index: 3;
    display:block;
    position: relative;
    text-align: center;
   

}


/* CSS */
.predict {
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);

  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  border: 0;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  flex: 1 1 auto;
  font-family: Inter,sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1;
  margin-left: 980px;
  margin-right: auto;
margin-top: 200px;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s,-webkit-box-shadow .2s;
  white-space: nowrap;
  border: 0;
  padding: 15px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.predict:hover {
  box-shadow: #87d9ff 0 0 0 3px, transparent 0 0 0 0;
}
.clear:hover {
    box-shadow: #87d9ff 0 0 0 3px, transparent 0 0 0 0;
  }
  .try:hover {
    box-shadow: #87d9ff 0 0 0 3px, transparent 0 0 0 0;
  }

.clear{
    align-items: center;
  background-color: rgb(212, 19, 19);
  border-radius: 12px;
  box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  flex: 1 1 auto;
  font-family: Inter,sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1;
margin-left: 400px;
margin-top: 30px;
 
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s,-webkit-box-shadow .2s;
  white-space: nowrap;
  border: 0;
  padding: 5px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-bottom: 30px;

}


.try{
    align-items: center;
  background-color: rgb(11, 172, 59);
  border-radius: 12px;
  box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
  box-sizing: border-box;
  color: #121212;
  cursor: pointer;
  flex: 1 1 auto;
  font-family: Inter,sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1;
margin-left: 400px;
 
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s,-webkit-box-shadow .2s;
  white-space: nowrap;
  border: 0;
  padding: 5px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

}

